[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"autopep8" = "*"
pylint = "*"
django = ">=1.11.27,<2.0"
djangorestframework = "==3.9.*"
gunicorn = "==19.9.*"
drf-yasg = "==1.15.*"
eve = "==0.8.*"
pytz = "==2018.5"
django-filter = "==2.1.*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
requests = "==2.22.*"
pytest-pythonpath = "*"
responses = "*"

[requires]
python_version = "3.6"
