[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"autopep8" = "*"
pylint = "*"
django = "==1.11.*"
djangorestframework = "==3.8.*"

[requires]
python_version = "3.6"
